#form{

    border-width: 2px;
    margin-top: 100px;
    border-style: groove;
    width: 700px;
    margin-left: 320px;
    border-radius: 1%;
 }

 #same{
    width: 75%;
    margin-left: 80px;
    margin-top: 30px;
    border-style: groove;
    border-left: hidden;
    border-right: hidden;
    border-top: hidden;

    font-family: tahoma;
    font-style: bold;
    border-width: 2px;


    text-align: left;
     }

body{
    margin: 0;
    background: #edeff4;
}

header{
    padding: 50px 50px 5px 50px;
background: #1950A3;
color: white;

}

h2{
    font-size: 50px;
    font-family: Tahoma;

    margin: 0 0 0 170px;
    display: inline;
}
button{
    margin-left: 20px;
    background: #00CC66;
    color: white;
    -webkit-border-radius: 3px;
}

#button2{
    margin-right: 20px;
    background: #1950A3;
    color: white;
    margin-left: 37px;
}

label{

    padding-right: 12px;
    font-family: arial;
}

input{
    margin-top: 12px;

}

input:hover{
    background-color: #ccc;
}

#simpleform{

    margin-bottom:
}
#amit{
    text-align: center;
    padding: 10px;
}


footer{
    margin-top: 80px;
    text-align: center;
    color: #ccc;
}


#main1{
    margin-top: 40px;

    text-align: center;
}

#main2{

    text-align: center;
}

#main7{

    margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  color: #1950A3;
}

#email{
    margin-left: 28px;
    width: 300px;
}

#passsword{
    width: 300px;
}


#button{
    margin-right: 20px;
    background: #1950A3;
    color: white;
    margin-left: 37px;
}

a{
    margin-left: 20px;
    color: #1950A3;
}

#last{
    margin-bottom: 40px;
    margin-left: 219px;
}



#cb{

    margin-left: 240px;
}

#link{
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
}

h1{
    font-size: 20px;
    font-family: Tahoma;
    display: inline-block;


}